.container {
    text-align: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button {
        width: 15%;
        margin-top: 10px;
        font-size: 18px;
    }

    .link {
        color: rgb(7, 168, 7);
    }
}